[submodule "individual-projects/birch2007_2_rescue"]
	path = individual-rescue-projects/birch2007_2_rescue
	url = git@github.com:psych251/birch2007_2_rescue.git
[submodule "individual-projects/child2018_rescue"]
	path = individual-rescue-projects/child2018_rescue
	url = git@github.com:psych251/child2018_rescue.git
[submodule "individual-projects/chou2016_rescue"]
	path = individual-rescue-projects/chou2016_rescue
	url = git@github.com:psych251/chou2016_rescue.git
[submodule "individual-projects/yeshurun2003_rescue"]
	path = individual-rescue-projects/yeshurun2003_rescue
	url = git@github.com:psych251/yeshurun2003_rescue.git
[submodule "individual-projects/todd2016_1_rescue"]
	path = individual-rescue-projects/todd2016_1_rescue
	url = git@github.com:psych251/todd2016_1_rescue.git
[submodule "individual-projects/tarampi2016_rescue"]
	path = individual-rescue-projects/tarampi2016_rescue
	url = git@github.com:psych251/tarampi2016_rescue.git
[submodule "individual-projects/schechtman2010_rescue"]
	path = individual-rescue-projects/schechtman2010_rescue
	url = git@github.com:psych251/schechtman2010_rescue.git
[submodule "individual-projects/porter_2016_1_rescue"]
	path = individual-rescue-projects/porter_2016_1_rescue
	url = git@github.com:psych251/porter_2016_1_rescue.git
[submodule "individual-projects/payne2008_rescue"]
	path = individual-rescue-projects/payne2008_rescue
	url = git@github.com:dogunbamowo/payne2008_rescue.git
[submodule "individual-projects/paxton2012_rescue"]
	path = individual-rescue-projects/paxton2012_rescue
	url = git@github.com:psych251/paxton2012_rescue.git
[submodule "individual-projects/ngo19_rescue"]
	path = individual-rescue-projects/ngo19_rescue
	url = git@github.com:psych251/ngo19_rescue.git
[submodule "individual-projects/krauss2003_rescue"]
	path = individual-rescue-projects/krauss2003_rescue
	url = git@github.com:psych251/krauss2003_rescue.git
[submodule "individual-projects/jara-ettinger2022_rescue"]
	path = individual-rescue-projects/jara-ettinger2022_rescue
	url = git@github.com:psych251/jara-ettinger2022_rescue.git
[submodule "individual-projects/hopkins2016_rescue"]
	path = individual-rescue-projects/hopkins2016_rescue
	url = git@github.com:psych251/hopkins2016_rescue.git
[submodule "individual-projects/craig2014_rescue"]
	path = individual-rescue-projects/craig2014_rescue
	url = git@github.com:psych251/craig2014_rescue.git
[submodule "individual-projects/haimovitz_rescue"]
	path = individual-rescue-projects/haimovitz_rescue
	url = git@github.com:psych251/haimovitz_rescue.git
[submodule "individual-projects/gong2019_rescue"]
	path = individual-rescue-projects/gong2019_rescue
	url = git@github.com:psych251/gong2019_rescue.git
[submodule "first-replications/porter2016"]
	path = first-replication-projects/porter2016
	url = git@github.com:psych251/porter2016.git
[submodule "first-replications/Yeshurun2003"]
	path = first-replication-projects/Yeshurun2003
	url = git@github.com:psych251/Yeshurun2003.git
[submodule "first-replications/Todd2016"]
	path = first-replication-projects/Todd2016
	url = git@github.com:psych251/Todd2016.git
[submodule "first-replications/payne2008"]
	path = first-replication-projects/payne2008
	url = git@github.com:psych251/payne2008.git
[submodule "first-replications/paxton2012"]
	path = first-replication-projects/paxton2012
	url = git@github.com:psych251/paxton2012.git
[submodule "first-replications/ngo2019"]
	path = first-replication-projects/ngo2019
	url = git@github.com:psych251/ngo2019.git
[submodule "first-replications/krauss2003"]
	path = first-replication-projects/krauss2003
	url = git@github.com:psych251/krauss2003.git
[submodule "first-replications/hopkins2016"]
	path = first-replication-projects/hopkins2016
	url = git@github.com:psych251/hopkins2016.git
[submodule "first-replications/Haimovitz2016"]
	path = first-replication-projects/Haimovitz2016
	url = git@github.com:psych251/Haimovitz2016.git
[submodule "first-replications/gong2017"]
	path = first-replication-projects/gong2017
	url = git@github.com:psych251/gong2017.git
[submodule "first-replications/birch2007"]
	path = first-replication-projects/birch2007
	url = git@github.com:psych251/birch2007.git
[submodule "first-replications/child2018"]
	path = first-replication-projects/child2018
	url = git@github.com:psych251/child2018.git
[submodule "first-replications/Chou2016"]
	path = first-replication-projects/Chou2016
	url = git@github.com:psych251/Chou2016.git
[submodule "first-replications/craig2014"]
	path = first-replication-projects/craig2014
	url = git@github.com:psych251/craig2014.git
[submodule "first-replications/tarampi2016"]
	path = first-replication-projects/tarampi2016
	url = git@github.com:psych251/tarampi2016.git
[submodule "first-replications/schechtman2010"]
	path = first-replication-projects/schechtman2010
	url = git@github.com:tzler/perception_affect_memory.git
